{% extends "base.html" %} {% block start %}

<!-- Question List -->

<div class="container">
  {% for quest in quests %}
  <div class="card mb-4 shadow" style="
  margin-top: 20px;">
    <div class="card-body">
      <h4 class="card-title">
        <a href="/detail/{{quest.id}}">{{quest.title}}</a>
      </h4>
      <p class="card-text">{{quest.detail}}</p>
      <p>
        <a href="#" class="mr-2">{{quest.user.username}}</a>
        <a href="#" class="mr-2">{{quest.answer_set.count}} Answers</a>
        <a href="#" class="mr-2">{{quest.total_comments}} Comments</a>
      </p>
    </div>
    <div class="card-footer">
      <small>{{quest.add_time}}</small>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
